/* DiwaliOfferSlider.css */
.divali-slider-container {
    width: 100%;
    overflow: hidden;
    background-color: #1c1c1c;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.slider-text {
    display: flex;
    align-items: center;
    animation: scroll 15s linear infinite;
    /* Smooth and infinite scrolling */
}

.scrolling-text {
    margin: 0 50px;
    /* Adds gap between each repeated text */
    font-size: 18px;
    font-weight: bold;
    color: #dfa71f;
    /* Yellow text color */
    white-space: nowrap;
    /* Prevents text from breaking into multiple lines */
    animation: custom-blink 3s steps(1) infinite;
}

/* Keyframes for blinking effect */
@keyframes custom-blink {
    0%, 90% {
        opacity: 1; 
    }
    91%, 100% {
        opacity: 0;
    }
}
/* Keyframes for blinking effect */

/* Keyframes for infinite scrolling effect */
@keyframes scroll {
    0% {
        transform: translateX(0);
        /* Start from the initial position */
    }

    100% {
        transform: translateX(-100%);
        /* Move to the end of the container */
    }
}
