imgbackground {
  background: url("/Rectangle1.svg") no-repeat;
  background-size: cover;
  background-position: top;
  padding: 20px;
  position: relative;
  height: 680px;
}
.margin-marathi {
  margin-top: 70px;
}
.onDecstopcard {
  display: flex;
}
.text_para {
  width: 60%;
}
.textsize {
  font-size: 48px;
}
.maincontainer {
  width: "100%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
}
@media (max-width: 460px) {
  .imgbackground {
    background: url("/Rectangle1.svg") no-repeat;
    background-size: cover;
    background-position: top;
    padding: 20px;
    position: relative;
    height: 835px;
  }
  .margin-marathi {
    margin-top: 80px;
  }
  .onDecstopcard {
    /* display: unset; */
  }
  .text_para {
    width: 90%;
  }
  .textsize {
    font-size: 32px;
  }
}

.thankyougif{
  margin-top: -23px;
}
