.demat-btn{
    color: #3E1959;
    font-weight: 800;
    font-size: 17px;
    background: #fff;
    border-radius: 10px;
    padding: 14px 18px;
    line-height: 22px;
}
.recommendation p{
    font-weight: 400;
}
.broker_card{
    height: 100%;
    background-size: cover!important;
    border-radius: 16px;
    padding: 65px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.broker_card img{
    width: 157px;
    margin: 0 auto;
    height: 38px;
}
.upstox-bg{
    background: url(../../../../public/upstox-bg.svg) no-repeat center;
}
.angel-bg{
    background: url(../../../../public/angel-bg.svg) no-repeat center;
}
.dhan-bg{
    background: url(../../../../public/dhan-bg.svg) no-repeat center;
}
.zerodha-bg{
    background: url(../../../../public/zerodha-bg.svg) no-repeat center;
}
.zerodha-bg .demat-btn,.angel-bg .demat-btn{
    background: #387EDB;
    color:#fff;
    border-color: #387EDB;
}
.dhan-bg .demat-btn{
    border-color: #3D8763;
    color: #3D8763;
}