.AboutUs {
    margin-top: 94px;
    position: relative;
    overflow: hidden;
}

.AboutUs .heading_content {
    margin-bottom: 32px;
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.AboutUs .content_parent {
    margin: 10px !important;
    padding: 0px 10px;
}

.AboutUs .content {
    background-image: url('/about_us_card.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(178, 178, 178, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(178, 178, 178, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(178, 178, 178, 0.2);
}

.AboutUs .content .content_header {
    padding-bottom: 12px;
    border-bottom: 1px solid #E8E8E8;
}

.AboutUs .content .content_header h5 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
    margin-top: 12px;
}

.AboutUs .content .content_header span {
    color: #646464;
}

.AboutUs .content .content_body p {
    font-size: 16px;
    color: #646464;
    margin: 16px 0px;
}

.AboutUs .content .content_body h6 {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}

.AboutUs .custom_shadow {
    position: absolute;
    bottom: 0;
}

@media (max-width:991px) {
    .AboutUs .content_parent {
        margin: 10px 0px !important;
    }
}

.icon img {
    width: 40px;
    border-radius: 5px;
}

.icon img.twitter {
    padding: 9px;
    background: #f7f7f7;
}

@media (max-width:768px) {
    .auto-scrolling {
        display: flex;
        flex-direction: column;
        max-height: 700px;
        overflow-y: auto;
        /* -webkit-overflow-scrolling: touch;  */
        /* scroll-snap-type: x mandatory;  */
        /* -ms-overflow-style: -ms-autohiding-scrollbar;  */
        scrollbar-width: none;
        /* flex-wrap: nowrap; */
        padding-bottom: 20px;
        justify-content: start !important;
    }

    .content_parent {
        scroll-snap-align: start;
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .custom_shadow {
        display: none;
    }
}

.content_parent {
    max-height: calc(100vh - 200px);
    /* Adjust height as needed */
    overflow-y: auto;
}

.content_parent:nth-child(odd) {
    margin-bottom: 20px;
    /* Space between rows */
}

.content_parent:nth-child(even) {
    margin-bottom: 0;
    /* Remove bottom margin from even rows */
}