.mainhead {
  display: flex;
  width: 100%;
  text-align: center;
  background: #000;
}

.main2 {
  width: 750px;
}

.calc-form {
  padding: 1rem;
  /* Optional: add padding for better layout */
  /* width: 764px; */
}

.text {
  color: #646464;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 400;
  word-wrap: break-word;
}

.title1 {
  color: black;
  font-size: 28px;
  font-family: Mulish;
  font-weight: 800;
  word-wrap: break-word;
}

.title {
  color: black;
  font-size: 24px;
  font-family: Mulish;
  font-weight: 800;
  word-wrap: break-word;
}

.heade {
  color: black;
  font-size: 20px;
  font-family: Mulish;
  font-weight: 800;
  word-wrap: break-word;
}

.list {
  color: #646464;
  font-size: 18px;
  font-family: Mulish;
  font-weight: 400;
  word-wrap: break-word;
}

.margin-top {
  margin-top: 1rem;
}