.compare_broker{
    padding: 100px 0 60px;
}
.compare_list li{
    border: 1px solid #E8E8E8;
    padding: 24px;
    border-radius: 10px;
}
.compare_broker li img{
    width: 54px;
}
.compare_broker li span img{
    width: auto;
}
.compare_broker li img.vs-img{
    width:34px;
}
.compare_broker h3 a{
    font-size: 24px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
}
.compare_broker span{
    color: #646464;
    font-weight: 500;
} 
.compare_broker p{
    font-size: 18px;
}
.compare_broker .site_btn{
    font-size: 16px;
}
.dropdown-menu.show{
    width: 100%;
    height: 256px;
    overflow: hidden scroll;
}
.chart_box {
    position: relative;
    height: 70vh;
    width: 100%;
}
.round_chart_box{
    position: relative;
    height: 300px;
    width: 100%;
}

@media (max-width:991px) {
    .broker_column_box{
        flex: 0 0 40%;
    }
    .compare_broker .site_btn {
        margin-top: 20px;
    }
    .compare_list li {
        padding: 23px 0;
    }
}
@media (max-width:576px) {
   
    .compare_broker h3 {
        font-size: 19px;
    }
    .compare_broker span {
        font-size: 12px;
    }
    .compare_list li {
        padding: 10px 4px;
    }
    .broker_column_box {
        flex: 0 0 35%;
    }
    .compare_broker {
        padding: 40px 0 0px;
    }
    .compare_broker h3 a {
        font-size: 17px;
    }
    .round_chart_box{
        position: relative;
        height: 60vh;
        width: 100%;
    }
    .round_chart_box_compare{
        position: relative;
        min-height: 65vh;
        width: 100%;
        

    }
   
}