.featured-sec{
    padding: 70px 0;
    margin-bottom: -100px;
}
.news_cat{
    background: #E9EFFF;
    padding: 6px 20px;
    display: flex;
    border-radius: 20px;
}
.news_cat span,.date{
    font-size: 12px;
    font-weight: 700;
    color: #0D2975;
}
.news_cat img{
  margin-right: 5px;
}
.featured-sec .card-body h3{
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
  min-height: 64px;
}
.date{
    color: #646464;
}
.featured-sec h2{
font-size: 32px;
color: #000;
font-weight: 700;
}
.featured-sec .card-footer{
    background-color: transparent;
}
.featured-sec .card-header{
  all: unset;
  padding: 15px;
}
.read-btn{
    background: oklab(0.6 -0.04 -0.15 / 0.2);
    border: unset;
    padding: 6px 20px;
    border-radius: 20px;
    color: #387EDB;
    font-weight: 600;
}
.featured-product .slick-dots li button,
.featured-product .slick-dots li button:hover,
.featured-product .slick-dots li button:focus {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}
.featured-product .slick-dots li.slick-active button {
    background: #387edb;
  }
  .featured-product .slick-dots li button {
    width: 16px;
    height: 4px;
    border-radius: 3px;
    background: #d9d9d9;
    padding: 0;
  }
  
  .featured-product .slick-dots li.slick-active button {
    background: #387edb;
    width: 32px;
  }
  
  .featured-product .slick-prev:before,
  .featured-product .slick-next:before {
    display: none;
  }
  
  .featured-product .slick-dots li button:before {
  display: none;
}
.featured-product .slick-dots li {
    margin: 0px 2px;
    width: unset;
    height: auto;
  }
  .featured-product .slick-prev,
.featured-product .slick-next {
  transform: unset;
  bottom: -78px;
  top: unset;
}

.featured-product .slick-prev {
    left: 42%;
  }
.featured-product .slick-next {
    right: 42%;
  }
  .featured-product .slick-dots{
    bottom: -75px;
  }
  .featured-sec .card{
    margin: 15px;
  }
  .featured-product .slick-slide{
    opacity: 0.2;
  }
  .featured-product .slick-slide.slick-active{
    opacity: 1;
  }
  .news-name img{
    width: 27px;
    border-radius: 7px;
    margin-right: 10px;
  }
  .news-name p{
    font-size: 13px;
  }

  @media (max-width:1200px) {
    .featured-product .slick-slide {
      opacity: 1;
  }
  .featured-product .slick-next {
    right: 38%;
}
.featured-product .slick-prev {
  left: 38%;
}
  }
  @media (max-width:576px) {
    .featured-sec .card {
      margin: 6px;
  }
  .read-btn {
 
    font-size: 13px;
}
.featured-sec .card-body h3 {
  font-size: 14px;
}
.featured-sec{
  padding: 70px 0;
}
  }